In [1]:
# Variables and Data types in python

In [2]:
100

100

In [3]:
type(100)

int

In [4]:
1.2

1.2

In [5]:
type(1.2)

float

In [6]:
type(100.00)

float

In [7]:
type("Hello word")

str

In [8]:
# Assigning variable

In [9]:
# A variable is a place holder or a container that holds value, it can also be change.

In [10]:
a = 40
print(a)

40

In [11]:
type(a)

int

In [12]:
a+3

43

In [13]:
# Reassignment
a = 1000
b = 5

In [14]:
a + b

1005

In [15]:
a = a + a

In [16]:
a

2000

In [17]:
y = "John James"

In [18]:
print(y)

John James

In [19]:
u = " is my friend"

In [20]:
print(y+u)

John James is my friend

In [21]:
print("I and " + y + " will be travelling tommorow")

I and John James will be travelling tommorow

In [22]:
# Creating Strings

In [23]:
# Single or double quotes are okay
T = "Hello this is my first string"

In [24]:
type(T)

str

In [25]:
a = 'Here is an example of using double qoute to assign a multiline variable to a variable do you get it.'
print(a)

Here is an example of using double qoute to assign a multiline variable to a variable do you get it.

In [26]:
# you can loop through a string it is ordered and in a sequence, you can loop

In [27]:
for x in 'AI Everday':
    print(x)

A
I

E
v
e
r
d
a
y

In [28]:
user_name = "Newbie"
password = 12345
dob=12

In [29]:
print("welcome {} and your password is {} and DOB {}".format(user_name, password,dob))

welcome Newbie and your password is 12345 and DOB 12

In [30]:
action = 'learn'

In [31]:
print("The {} needs to {}".format(user_name,action))

The Newbie needs to learn

In [32]:
print("The {b} needs to {a}".format(a=user_name,b=action))

The learn needs to Newbie

In [33]:
# Formating Numbers

In [34]:
num = 245.9083
print("The number is: {}".format(num))

The number is: 245.9083

In [35]:
print("The code is: {:.1f}".format(num))

The code is: 245.9

In [36]:
print("The code is: {:.2f}".format(num))

The code is: 245.91

In [37]:
print("The code is: {:.3f}".format(num))

The code is: 245.908

In [38]:
print("The code is: {:.4f}".format(num))

The code is: 245.9083

In [39]:
# Variables and data types

In [40]:
user_name = "Terkuma001"
pass_word = 12354
age = 23

In [41]:
print("You are welcome {} your pass word is {} you are {} years old".format(user_name, pass_word, age))

You are welcome Terkuma001 your pass word is 12354 you are 23 years old

In [42]:
# Slice out "ext and we are going"

In [43]:
test = "This is a really long place of text and we are going use it for practice"

In [44]:
test.upper()

'THIS IS A REALLY LONG PLACE OF TEXT AND WE ARE GOING USE IT FOR PRACTICE'

In [45]:
test.split()

['This',
 'is',
 'a',
 'really',
 'long',
 'place',
 'of',
 'text',
 'and',
 'we',
 'are',
 'going',
 'use',
 'it',
 'for',
 'practice']

In [46]:
test[32:-20]

'ext and we are going'

In [47]:
test[49:-10]

'ing use it fo'

In [48]:
# Data types

In [49]:
c = None
type(c)

NoneType

In [50]:
personal_dict = {"name": "Terkuma Saaondo",
                "email address": "saaondoterkuma@gmail.com",
                 "house address": "Gbagelape Phase 2 Opposite Aso C Market Juntion",
                "Phone Number": "08054182705"}

In [51]:
personal_dict

{'name': 'Terkuma Saaondo',
 'email address': 'saaondoterkuma@gmail.com',
 'house address': 'Gbagelape Phase 2 Opposite Aso C Market Juntion',
 'Phone Number': '08054182705'}

In [52]:
personal_dict["name"]

'Terkuma Saaondo'

In [53]:
personal_dict["email address"]

'saaondoterkuma@gmail.com'

In [54]:
personal_dict["Phone Number"]

'08054182705'

In [55]:
personal_dict["Age"] = "34"

In [56]:
personal_dict

{'name': 'Terkuma Saaondo',
 'email address': 'saaondoterkuma@gmail.com',
 'house address': 'Gbagelape Phase 2 Opposite Aso C Market Juntion',
 'Phone Number': '08054182705',
 'Age': '34'}

In [57]:
personal_dict["Nationality"] = "Nigerian"
personal_dict["State of Origin"] = "Benue"
personal_dict["State of residence"] = "FCT"

In [58]:
personal_dict

{'name': 'Terkuma Saaondo',
 'email address': 'saaondoterkuma@gmail.com',
 'house address': 'Gbagelape Phase 2 Opposite Aso C Market Juntion',
 'Phone Number': '08054182705',
 'Age': '34',
 'Nationality': 'Nigerian',
 'State of Origin': 'Benue',
 'State of residence': 'FCT'}

In [59]:
personal_dict["Age"] = 34

In [60]:
personal_dict

{'name': 'Terkuma Saaondo',
 'email address': 'saaondoterkuma@gmail.com',
 'house address': 'Gbagelape Phase 2 Opposite Aso C Market Juntion',
 'Phone Number': '08054182705',
 'Age': 34,
 'Nationality': 'Nigerian',
 'State of Origin': 'Benue',
 'State of residence': 'FCT'}

In [61]:
d = {"k1":10,
    "K2": "stringy",
    "k3": [1,2,3,], 
    "k4": {"inside_key":[20,30,40, {"keyinside": [60,20, "thirty"]}]}}

In [62]:
d

{'k1': 10,
 'K2': 'stringy',
 'k3': [1, 2, 3],
 'k4': {'inside_key': [20, 30, 40, {'keyinside': [60, 20, 'thirty']}]}}

In [63]:
d["k3"]

[1, 2, 3]

In [64]:
d["k4"]

{'inside_key': [20, 30, 40, {'keyinside': [60, 20, 'thirty']}]}

In [65]:
d["k4"]["inside_key"]

[20, 30, 40, {'keyinside': [60, 20, 'thirty']}]

In [66]:
d["k4"]["inside_key"][3]["keyinside"]

[60, 20, 'thirty']

In [67]:
d["k4"]["inside_key"][3]["keyinside"][1]

20

In [68]:
d["k4"]["inside_key"][3]["keyinside"][1:3]

[20, 'thirty']

In [69]:
# methods

In [70]:
short_names = {"AAU": "Ambrose Alli University",
              "OAU": "Obafemi Awolowo University",
              "Unilag": "University of Lagos",
              "NDA": "National Defence Academy"}

In [71]:
  short_names

{'AAU': 'Ambrose Alli University',
 'OAU': 'Obafemi Awolowo University',
 'Unilag': 'University of Lagos',
 'NDA': 'National Defence Academy'}

In [72]:
short_names.values()

dict_values(['Ambrose Alli University', 'Obafemi Awolowo University', 'University of Lagos', 'National Defence Academy'])

In [73]:
short_names.keys()

dict_keys(['AAU', 'OAU', 'Unilag', 'NDA'])

In [74]:
short_names.items()

dict_items([('AAU', 'Ambrose Alli University'), ('OAU', 'Obafemi Awolowo University'), ('Unilag', 'University of Lagos'), ('NDA', 'National Defence Academy')])

In [75]:
short_names["LASU"] = "Lagos State University"

In [76]:
short_names

{'AAU': 'Ambrose Alli University',
 'OAU': 'Obafemi Awolowo University',
 'Unilag': 'University of Lagos',
 'NDA': 'National Defence Academy',
 'LASU': 'Lagos State University'}

In [77]:
# Tuples

In [78]:
t = (1,2,3)

In [79]:
type(t)

tuple

In [80]:
t = ("a", 1)

In [81]:
t[0]

'a'

In [82]:
t[1]

1

In [83]:
t[0]

'a'

In [84]:
# Tuple Methods: Tuple has two method .index() and count()

In [85]:
t

('a', 1)

In [86]:
# Returns index of first instance!
t.index("a")

0

In [87]:
t = ("a", "b", "c", "a")
t.index("a", 2)

3

In [88]:
t.count("a")

2

In [89]:
t.count("k")

0

In [90]:
t.count("b")

1

In [91]:
# Sets

In [92]:
x = set()

In [93]:
x.add(1)

In [94]:
x

{1}

In [95]:
x.add(2)

In [96]:
x

{1, 2}

In [97]:
x.add(3)

In [98]:
x

{1, 2, 3}

In [99]:
x.add(1)

In [100]:
x

{1, 2, 3}

In [101]:
mylist = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3]

In [102]:
set(mylist)

{1, 2, 3}

In [103]:
myset = {1,2,3,3,3,3,3,3}

In [104]:
type(myset)

set

In [105]:
myset

{1, 2, 3}

In [106]:
val = [4, 5]
myset.update(val)

In [107]:
val

[4, 5]

In [108]:
myset

{1, 2, 3, 4, 5}

In [109]:
val2 = [10, 7,8,9]

In [110]:
myset.update(val2)

In [111]:
myset

{1, 2, 3, 4, 5, 7, 8, 9, 10}

In [112]:
#List and loops

In [113]:
alist = []
type(alist)

list

In [114]:
alist

[]

In [115]:
my_list = [1,2,3]

In [116]:
my_list

[1, 2, 3]

In [117]:
my_list2 = ['a', 'b', 'c', 1, 2]

In [118]:
my_list2

['a', 'b', 'c', 1, 2]

In [119]:
type(my_list2)

list

In [120]:
a = 100
b = 200
c = 300
my_list3 = [a,b,c,1,7]

In [121]:
my_list3

[100, 200, 300, 1, 7]

In [122]:
#Indexing and slicing

In [123]:
mylist = ['a', 'b', 'c', 'd']

In [124]:
mylist

['a', 'b', 'c', 'd']

In [125]:
mylist[2]

'c'

In [126]:
mylist[0]

'a'

In [127]:
mylist[-4]

'a'

In [128]:
mylist[1:3]

['b', 'c']

In [129]:
mylist[1:]

['b', 'c', 'd']

In [130]:
# The Len Function

In [131]:
len('string')

6

In [132]:
len('my_list')

7

In [133]:
#Useful List Methods

In [134]:
mylist = [1,2,3]

In [135]:
mylist

[1, 2, 3]

In [136]:
mylist.append(6)

In [137]:
mylist

[1, 2, 3, 6]

In [138]:
mylist.pop()

6

In [139]:
mylist

[1, 2, 3]

In [140]:
mylist.append(6)

In [141]:
mylist

[1, 2, 3, 6]

In [142]:
mylist.pop(0)

1

In [143]:
mylist

[2, 3, 6]

In [144]:
my_list = [1,3,4,5]
print(my_list)

[1, 3, 4, 5]

In [145]:
del my_list[3]

In [146]:
my_list

[1, 3, 4]

In [147]:
# Delete enable you sliced while deleting

In [148]:
list1 = [1,2,3,4,5,6]

In [149]:
del list1[1:3]

In [150]:
list1

[1, 4, 5, 6]

In [151]:
mylist = [1,10,16,2,3,4,5,6,7]

In [152]:
#Reverse

In [153]:
mylist.reverse()

In [154]:
mylist

[7, 6, 5, 4, 3, 2, 16, 10, 1]

In [155]:
new_list = mylist.reverse()

In [156]:
new_list

In [157]:
mylist

[1, 10, 16, 2, 3, 4, 5, 6, 7]

In [158]:
# Sorting

In [159]:
mylist.sort()

In [160]:
mylist

[1, 2, 3, 4, 5, 6, 7, 10, 16]

In [161]:
mylist.sort(reverse=True)

In [162]:
mylist

[16, 10, 7, 6, 5, 4, 3, 2, 1]

In [163]:
mylist = [20,50,10,100,14]

In [164]:
mylist.append(20)

In [165]:
mylist

[20, 50, 10, 100, 14, 20]

In [166]:
mylist.insert(3,'middle')

In [167]:
mylist

[20, 50, 10, 'middle', 100, 14, 20]

In [168]:
list1 = ['a', 'b', 'c']
list2 = ['e', 'f', 'g']

In [169]:
list1.extend(list2)

In [170]:
list1

['a', 'b', 'c', 'e', 'f', 'g']

In [171]:
# Nested List

In [172]:
new_list = [ 1,2,3,['a','b','c']]

In [173]:
new_list

[1, 2, 3, ['a', 'b', 'c']]

In [174]:
new_list[3]

['a', 'b', 'c']

In [175]:
list2

['e', 'f', 'g']

In [176]:
list2 = ['e', 'h', 'g']

In [177]:
list2[1] = 'a'

In [178]:
list2

['e', 'a', 'g']

In [179]:
# Loops
# While loop

In [180]:
a = 1
while a < 10:
    print("a is less than 10")
    print(a)
    a = a + 1

a is less than 10
1
a is less than 10
2
a is less than 10
3
a is less than 10
4
a is less than 10
5
a is less than 10
6
a is less than 10
7
a is less than 10
8
a is less than 10
9

In [181]:
# Start by setting variable x to 0
x = 0
while x < 3:
    print('x is currently')
    print(x)
    print("Adding 1 to x")
    x = x + 1 #alternatively you could write x +=1

x is currently
0
Adding 1 to x
x is currently
1
Adding 1 to x
x is currently
2
Adding 1 to x

In [182]:
x = 2
while x < 6:
    print("x is less than 6")
    print(x)
    x +=1

x is less than 6
2
x is less than 6
3
x is less than 6
4
x is less than 6
5

In [183]:
x = 0
while x < 10:
    print(x)
    print("Adding 1 to x")
    x = x + 1
    
    if x == 3:
        break

0
Adding 1 to x
1
Adding 1 to x
2
Adding 1 to x

In [184]:
# For Loop

In [185]:
mylist = [1,2,3,4]
for num in mylist:
    print(num**2)

1
4
9
16

In [186]:
for val in mylist:
    print(val**2)

1
4
9
16

In [187]:
for val in mylist:
    print(val/4)

0.25
0.5
0.75
1.0

In [188]:
for num in mylist:
    print(num)
    print("I am in a for Loop")

1
I am in a for Loop
2
I am in a for Loop
3
I am in a for Loop
4
I am in a for Loop

In [189]:
for i in range(len(mylist )):
    print(i)

0
1
2
3

In [190]:
for i in range(len(mylist )):
    print(mylist[i])

1
2
3
4

In [191]:
# For loop with a string

In [192]:
for character in "This is a string":
    print(character)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [193]:
mystring = 'This is a string'
for word in mystring.split():
    print(word)

This
is
a
string

In [194]:
# for loop with tuple
tup = (1,2,3,4)
for num in tup:
    print(num)

1
2
3
4

In [196]:
# tupple unpacking

In [197]:
list_of_tups = [(1,2),(3,4),(5,6),(7,8),(9,10)]
for x in list_of_tups:
    print(x)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [198]:
for x in list_of_tups:
    print(x[0])

1
3
5
7
9

In [199]:
for x in list_of_tups:
    print(x[1])

2
4
6
8
10

In [200]:
for num1,num2 in list_of_tups:
    print(num1)
    print(num2)
    print('\n')

1
2


3
4


5
6


7
8


9
10

In [201]:
# for loop with dictionaries

In [202]:
my_dictionary = {'a':1, 'b':2, 'c':3}

In [203]:
for item in my_dictionary:
    print(item)

a
b
c

In [204]:
for k in my_dictionary.values():
    print(k)

1
2
3

In [205]:
for k in my_dictionary.keys():
    print(k)
    print(my_dictionary[k])
    print('\n')

a
1


b
2


c
3

In [206]:
# Continue, continue skip the condition that is true

In [209]:
scores = [30,40,50,60]
for num in scores:     
    if num == 50:
        continue
    print('Your score is', num)

Your score is 30
Your score is 40
Your score is 60

In [210]:
scores = [30,40,50,60]
for num in scores:     
    if num == 40:
        continue
    print('Your score is', num)

Your score is 30
Your score is 50
Your score is 60

In [217]:

for letter in 'code':     
    if letter == 'e':
        continue
    print('Current Letter is:',letter)

Current Letter is: c
Current Letter is: o
Current Letter is: d

In [2]:
# Conditional Statements

In [4]:
if 1<2:
    print("one is less than Two ")

one is less than Two

In [1]:
if 5==6:
    print("five is equal to ")

In [5]:
x = 20

if x > 10:
    print("Above ten")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20")
else:
    print("Condition not met")

Above ten
but not above 20

In [6]:
x = 21

if x > 10:
    print("Above ten")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20")
else:
    print("Condition not met")

Above ten
and also above 20!

In [7]:
x = 9

if x > 10:
    print("Above ten")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20")
else:
    print("Condition not met")

Condition not met

In [8]:
x = 10

if x > 10:
    print("Above ten")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20")
else:
    print("Condition not met")

Condition not met

In [9]:
# if else Statement

In [10]:
if 1==1:
    print("One is equal to One")
else:
    print("First if was not True")

One is equal to One

In [11]:
if 1==2:
    print("One is equal to One")
else:
    print("First if was not True")

First if was not True

In [15]:
save_password = 123456
new_password = input("Enter your password")

if int(new_password) == save_password:
    print("Password correct")
else:
    print("You're a criminal")

Enter your password123456
Password correct

In [16]:
# if, elif, else (Use when there a many conditions )

In [19]:
if 2 == 0:
    print("First condition True")
elif 2 == 1:
    print("Second condition True")
elif 2 == 100:
    print("Third condtion True")
else:
    print("None of the above condition were True")

None of the above condition were True

In [22]:
if 2 == 1:
    print("First condition True")
elif 2 == 1:
    print("Second condition True")
elif 2 <= 3:
    print("Third condtion True")
else:
    print("None of the above condition were True")

Third condtion True

In [24]:
if 2 == 1:
    print("First condition True")
elif 2 == 2:
    print("Second condition True")
elif 2 <= 3:
    print("Third condtion True")
else:
    print("None of the above condition were True")

Second condition True

In [25]:
if 2 == 2:
    print("First condition True")
elif 2 == 2:
    print("Second condition True")
elif 2 <= 3:
    print("Third condtion True")
else:
    print("None of the above condition were True")

First condition True

In [26]:
 if 5 == 6:
    print("five is equal to six")
elif 5 == 5:
    print("five is equal to five")

else:
    print("five is not equal to six")

five is equal to five

In [2]:
# Functions

def print_sum(a, b):
    "This prints the sum of two numbers a and b"
    print(a + b)
    return

In [3]:
# Calling a function

In [29]:
print_sum(5,6)

11

In [4]:
print_sum(7,9)

16

In [5]:
print_sum(10, 18)

28

In [6]:
# Area of a rectangle = L * B
def area_rec(L,B):
    "This function calculates the area of a rectangle"
    print(L*B)
    return

In [7]:
#L=10 
#B=5

area_rec(10,5)

50

In [8]:
  area_rec(15,7)

105

In [9]:
# Passing Values

In [12]:
def change_name(name):
    print("The passed name is {}".format(name))
    #change the name
    name = "Harry Potter"
    print("The new name is this funtion is {}".format(name))
    return
#call the function
name = "John Stone"
change_name(name)

The passed name is John Stone
The new name is this funtion is Harry Potter